 .u-section-1 {
  background-image: linear-gradient(to right, #77aad9, #f1b5b8);
}

.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-icon-1 {
  width: 130px;
  height: 130px;
  margin: 62px auto 0;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: ABeeZee;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 292px;
  width: 570px;
  --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  margin: -28px auto 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -14px 317px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-right: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}