.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-table-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-block-5142-35 {
  background-image: none;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}